.Table,
tr,
td {
  border: 1px solid black;
  background-color: rgba(172, 146, 146, 0.329);
  width: 100%;
  text-align: center;
  padding: 15px;
}

tr:hover {
  background-color: yellow;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.title {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(10, 12, 12);
  text-decoration: underline;
}
